<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->


        <li class="nav-header">Bölümler</li>
        <li class="nav-item">
            <a href="/About/AboutMe/" class="nav-link">
                <i class="nav-icon fa fa-address-card"></i>
                <p>
                    Hakkımda

                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Career/Index/" class="nav-link">
                <i class="nav-icon fa fa-laptop-code"></i>
                <p>
                    Kariyer
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Contact/Index/" class="nav-link">
                <i class="nav-icon far fa-envelope"></i>
                <p>
                    İletişim
                    <span class="badge badge-warning right">@ViewBag.contactCount</span>
                </p>
            </a>

        </li>
        <li class="nav-item">
            <a href="/Skill/Index/" class="nav-link">
                <i class="nav-icon fas fa-check-circle"></i>
                <p>
                    Yetenekler
                </p>
            </a>

        </li>
        <li class="nav-item ">
            <a href="/SocialMedia/Index" class="nav-link">
                <i class=" nav-icon fas fa-share-alt-square"></i>
                <p>
                    Sosyal Medya
                </p>
            </a>

        </li>
        <li class="nav-item ">
            <a href="/Account/Logout/" onclick = "return confirm('Çıkmak İstediğinize Emin Misiniz ?')" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    Çıkış Yap
                </p>
            </a>

        </li>
    </ul>



</nav>
